<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .card-img-top{
            height: 200px;
            width: 300px;

        }
        
    </style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Attandance Tracker</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="text-center">
        <h1 style="color: white;background-color: black;">Attandance Report</h1>
    </div>
    <div class="container m-5">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>SL No.</th>
                <th>Date</th>
                <th>Attandance</th>
            </tr>
        </thead>
        <tbody>
            <% var i=1;
            data.forEach((e)=>{

        %>
        <tr>
            <td><%=i%></td>
            <td><%=e.date%></td>
            <% if(e.mark==true) {
                %>
                <td>Present</td>
                <%
            }else{
            %>
            <td>Absent</td>
            <%
            }%>
        </tr> 
        <%
        i++;
            })
            %>
                      
        </tbody>
    </table>
    </div>
</body>
</html>